@{
    ViewData["Title"] = "The Beautiful Game";
}

<div class="text-center">
    <h1 class="display-4">The Beautiful Game </h1>
</div>

<!-- First Section: Image on the left, Text on the right -->
<div class="section">
    <img src="~/img/kicking.png" alt="Kicking"> <!-- Replace with your image path -->
    <div class="text">
        <h2>My First Love</h2>
        <p>As long as I can remember I have played soccer. I have been on teams in high school, club, and now I play here at BYU.
            Every step along the path has taught me more about who I am and how I can contribute to the team.</p>
        <br>
        <p>Hard work throughout the offseason and the early parts of the season have translated to great success for BYU in recent years. 
            This past November we went to Texas to try and win our 5th straight National Championship. We played some very close games 
            and ended up going to penalty kicks in the final. Our goalie had to make a few clutch saves but we eventually won! </p>
    </div>
</div>

<!-- Second Section: Image on the right, Text on the left -->
<div class="section">
    <div class="text">
        <h2>A Tradition of Excellence</h2>
        <p>This is the text that appears to the left of the second image. More content can go here.</p>
    </div>
    <img src="~/img/team.png" alt="Team"> <!-- Replace with your image path -->
</div>