html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Styling for images */
.section img {
  max-width: 50%;  /* Adjusts image size */
  margin: 10px;
}

/* Text styling */
.section .text {
  max-width: 50%;
  padding: 20px;
}

.section .text h2 {
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 18px;
  color: #ffc720;
}

.form-group input label{
  align-items: center;
}

.numberInput {
  width: 5%;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: darkgreen;
}

button
{
  background-color: lightgreen;
}

button:hover {
  background-color: green; 
}

/* For mobile responsiveness */
@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }

  .section img {
    max-width: 80%; /* Makes the image width smaller on mobile */
    margin: 10px 0;
  }

  .section .text {
    max-width: 80%;
  }
}
